<div class="one-col tenant-score">
    <h2>Applicant Tenant Score</h2>
    <p>Our system is able to provide you with an in-depth look into each potential tenant, giving you the necessary information to make the best decision.</p>
    <div class="tenant-img-container img-reveal">
        <div><img src="/images/landing-pages/tenant-score-desktop.svg"></div>
    </div>
</div>