<!-- Testimonials-->
<div class="testimonials">
    <h2>Here what our customers have to say!</h2>
    <i class="quote__image fas fa-quote-right"></i>
    <div class="testimonial-content">
        <div>
            <p><strong>Ziprent</strong> has been a great service to use! I do short term rentals and they are able to constantly fill my units with reliable tenants. They are easy to work with and always available for assisting.</p>
            <h3>- Avesta S.</h3>
        </div>
        <div>
            <p>The process was very easy to follow. I found finding renters to be a lot easier than going about the process on my own!</p>
            <h3>- Katrina S.</h3>
        </div>
        <div>
            <p>I set it up my rental listing on <strong>Ziprent</strong> and immediately started receiving interest from all of the popular rental sites. The tenants applied through Ziprent, did the walkthrough and signed the lease through Ziprent, and they pay their rent automatically through Ziprent. <strong>Ziprent</strong> has gotten me to a point where the property management is completely hands-off, and my tenants are happy with it also!</p>
            <h3>- Nicolas V.</h3>
        </div>
        <div>
            <p>I heard of <strong>Ziprent</strong> through a friend and contacted them. They quickly communicated with my tenant and took over the management of the property. Within a few days, they had all issues resolved and had a lease renewal signed. On top of the hands on stuff, through the portal, I can see what's going on with my property at all times. From repairs and invoices to rent collection. I couldn't have asked for a better company to deal with.</p>
            <h3>- Kristina</h3>
        </div>
    </div>
</div>


 <!--
    <div class="slider">
        <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
        <input type="radio" name="slider" title="slide2" class="slider__nav"/>
        <input type="radio" name="slider" title="slide3" class="slider__nav"/>
        <input type="radio" name="slider" title="slide4" class="slider__nav"/>
        <div class="slider__inner">
            <div class="slider__contents"><i class="slider__image fas fa-quote-right"></i>
                <h2 class="slider__caption">Avesta S.</h2>
                <p class="slider__txt"><strong>Ziprent</strong> has been a great service to use! I do short term rentals and they are able to constantly fill my units with reliable tenants. They are easy to work with and always available for assisting.</p>
            </div>
            <div class="slider__contents"><i class="slider__image fas fa-quote-right"></i>
                <h2 class="slider__caption">Katrina S.</h2>
                <p class="slider__txt">The process was very easy to follow. I found finding renters to be a lot easier than going about the process on my own!</p>
            </div>
            <div class="slider__contents"><i class="slider__image fas fa-quote-right"></i>
                <h2 class="slider__caption">Nicolas V.</h2>
                <p class="slider__txt">I set it up my rental listing on <strong>Ziprent</strong> and immediately started receiving interest from all of the popular rental sites. The tenants applied through <strong>Ziprent</strong>, did the walkthrough and signed the lease through <strong>Ziprent</strong>, and they pay their rent automatically through <strong>Ziprent</strong>. <strong>Ziprent</strong> has gotten me to a point where the property management is completely hands-off, and my tenants are happy with it also!</p>
            </div>
            <div class="slider__contents"><i class="slider__image fas fa-quote-right"></i>
                <h2 class="slider__caption">Kristina</h2>
                <p class="slider__txt">I heard of <strong>Ziprent</strong> through a friend and contacted them. They quickly communicated with my tenant and took over the management of the property. Within a few days, they had all issues resolved and had a lease renewal signed. On top of the hands on stuff, through the portal, I can see what's going on with my property at all times. From repairs and invoices to rent collection. I couldn't have asked for a better company to deal with.</p>
            </div>
        </div>
    </div>
-->