<div class="hero-container">
    <div>
        <h1>Finding the perfect tenant for all your properties</h1>
        <h3><span style="font-size:2em">$500</span></h3>
        <h3>30 Day tenant placement guarantee*</h3>
        <button class="gr-btn"><%= link_to 'Get Started', 'old/get-started' %></button>
    </div>
</div>