<section class="feature alt-blue">
    <!-- Feature Image 1 -->
    <div>
        <img class="img-style" alt="Listings Image" src="/images/homepage/listings.png">
    </div>
    <!-- Content -->
    <div>
        <h2>Improve your listings</h2>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-map-marker" aria-hidden="true" style="color:white;"></i>Instant listings with Zillow, Trulia, Hotpads, &amp; Apartments.com</li>
            <li><i class="fa-li fa fa-camera" aria-hidden="true" style="color:white;"></i>Professional Photography</li>
            <li><i class="fa-li fa fa-phone" aria-hidden="true" style="color:white;"></i>24/7 Listings support for prospective tenants</li>
            <li><i class="fa-li fa fa-users" aria-hidden="true" style="color:white;"></i>Transparent lead management</li>
        </ul>
        <button class="gr-btn" style="margin: 30px 0px;"><%= link_to 'Get Started', 'old/get-started' %></button>
    </div>
</section>

<section class="feature">
<!-- Content -->
    <div>
        <h2>Show with ease</h2>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-home" aria-hidden="true"></i>On demand access to listed property</li>
            <li><i class="fa-li fa fa-lock" aria-hidden="true"></i>Secure prospective tenant verification</li>
            <li><i class="fa-li fa fa-th" aria-hidden="true"></i>Unique randomly generated lockbox codes</li>
            <li><i class="fa-li fa fa-file-text" aria-hidden="true"></i>Live showing reports</li>
        </ul>
        <button class="gr-btn" style="margin: 30px 0px;"><%= link_to 'Get Started', 'old/get-started' %></button>
    </div>

<!-- Feature Image 1 -->
    <div>
        <img class="img-style" alt="Showing Image" src="/images/homepage/showing.png">
    </div>
</section>

<section class="feature alt-blue">
    <!-- Feature Image 1 -->
    <div>
        <img class="img-style" alt="Leasing Image" src="/images/homepage/leasing.png">
    </div>
    <!-- Content -->
    <div>
        <h2>Lease with confidence</h2>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-cogs" aria-hidden="true" style="color:white;"></i>Automated application processing</li>
            <li><i class="fa-li fa fa-id-card-o" aria-hidden="true" style="color:white;"></i>Tenant Score Card &copy;</li>
            <li><i class="fa-li fa fa-handshake-o" aria-hidden="true" style="color:white;"></i>Automated lease generation</li>
        </ul>  
        <button class="gr-btn" style="margin-top: 30px;"><%= link_to 'Get Started', 'old/get-started' %></button>       
    </div>
</section>