@import url(https://fonts.googleapis.com/css?family=Bitter:400,500,700|Monserrat:200,300,400,500,700);

// Main Colors
$blue: #7FBAFA;
$darkblude: #2A4059;
$grey: #4a4a4a;
$green: #0dab76;

// Bulma Components
@import "bulma/utilities/_all.scss";
@import "bulma/components/_navbar.scss";
@import "bulma/components/_button.scss";

// Utilities
@import "utilities/dynamic-font.css.scss";
@import "utilities/breakpoints.css.scss";

// Property Page Specific CSS 
// needs to have mixins loaded before it

@import "property/property.css.scss";

// GLOBAL STYLES
*{
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	height: 100%;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	@include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}

body {
  line-height: $baseline;
  font-size: 18px;
  background-color: #f9f9f9;
  color: #3e3e3e;
  font-family: 'Monserrat', sans-serif;
  font-weight: 300;
  line-height: 1.6;  
  margin: 0;
  padding: 0;
}

hr{
  border-style: solid;
  color: #f0f0f0;
}

.img-reveal{
  visibility: hidden;
}

// Main Colors
$blue: #7FBAFA;
$darkblude: #2A4059;
$grey: #4a4a4a;
$green: #0dab76;
// END GLOBAL STYLES



//Button Styles
.btn-small{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
}

.btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 19px 40px 20px;
  transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
}

.btn-primary{
  background: #28b78d;
  color: white;
  &:hover {
    opacity: 0.9;
  }

  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

.btn-secondary{
  background-color: #fff;
  color: #477bb4;
  fill: #477bb4;
  box-shadow: inset 0 0 0 1px #477bb4;

  &:hover{
    background-color: #477bb4;
    color: white;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
}

.btn-secondary-solid {
  background-color: #477bb4;
  color: white;
  fill: #477bb4;
  box-shadow: inset 0 0 0 1px #477bb4;
  cursor: auto;

  a{
    text-decoration: none;
    color: inherit;
  }
}

// Form Button Style
input[type=submit] {
  padding: 10px 15px;
  transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
  width: auto !important;
  border-radius: 4px;
  font-size: 18px;
  background: $blue;
  border: 1px solid $blue;
  color: white;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}


a {
  color: #000;
  text-decoration: none;
}

// END BUTTON STYLES


/* Nav Styles */

.has-box-shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.has-padding {
  @include for-size(phone-only){
    padding: 0;
  }

  @include for-size(tablet-portrait-up) {
    padding: 0;
  }

  @include for-size(tablet-landscape-up){
    padding: 0 7%;
  }
}


// Hero Container Styles

.heroContainer{
  @include for-size(phone-only){
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: none;
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    padding: 80px 2% 0px;
  }
}

.heroContainer_left{
  @include for-size(phone-only){
    justify-self: center;
  }

  @include for-size(tablet-portrait-up){
    align-self: center;
    padding: 0 5rem;
  }
}

.heroContainer_right{
  @include for-size(phone-only){
    max-width: 400px;
    justify-self: center;
    img{
      width: 100%;
    }
  }

  @include for-size(tablet-portrait-up) {
    max-width: 500px;
    img{
      width: 100%;
    }
  }

  @include for-size(tablet-landscape-up){
    max-width: 900px;
    img{
      width: 100%;
    }
  }
}

.heroContainer_center{
  display: grid;
  grid-template-rows: auto;
}

.contentContainer{
  display: grid;
  padding: 3rem 8rem;
}
// Home CTA Container 

.home-cta-container, .tenant-cta-container, .renter-cta-container, .property-search-container{

  @include for-size(phone-only){
    display: flex;
    flex-flow: column nowrap;
    padding: 80px 2% 0px;
    color: $grey;
  }

  @include for-size(tablet-portrait-up) {
    display: flex;
    flex-flow: column nowrap;
    padding: 80px 2% 0px;
    color: $grey;
  }

  @include for-size(tablet-landscape-up){
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding-top: 8%;
    overflow-x: hidden;
  }

  .home-cta-form{
    padding: 4%;
    flex: 2;
    h2{margin: 6% 0;}

    /*h1 {font-size: 2.7em;}*/
    /*h2 {font-size: 2em;}*/

    input {
      font-size: 16px;
      padding: 20px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      box-sizing: border-box;

      @include for-size(phone-only) {
        width: 300px;
        margin-bottom: 10px;
      }
      @include for-size(tablet-portrait-up) {
        width: 300px;
      }
      @include for-size(tablet-landscape-up) {
      width: 320px;
      }
    } 
  }

  .property-search-form{
    padding: 4% 5%;
    flex: 2;

    input {
      font-size: 16px;
      padding: 20px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      box-sizing: border-box;

      @include for-size(phone-only) {
        width: 300px;
      }
      @include for-size(tablet-portrait-up) {
        width: 400px;
      }
      @include for-size(tablet-landscape-up) {
      width: 500px;
      }
    } 
  }
}

.property-search-container {
  min-height: 100vh;
}

.tenant-cta-form, .renter-cta{
  h1{line-height: 2.5rem;}
  padding: 4% 5%;
  flex:2;

  .flower-accent{
    @include for-size(phone-only){display:none;}
    @include for-size(tablet-portrait-up){display:none;}
    @include for-size(tablet-landscape-up){
      display: block;
      position: absolute;
      width: 200px;
      left: 14%;
      bottom: -6%;
      z-index: -10;
    }
  }
}


.tenant-cta-illustration{
  flex: 3;
  img{
    @include for-size(phone-only){width:100%;}
    @include for-size(tablet-portrait-up){width:100%;}
    @include for-size(tablet-landscape-up){width: 100%;}
    @include for-size(big-desktop-up){width: 100%;}
  }
}

.home-cta-illustration{
  flex: 3;
  img{
    @include for-size(phone-only){width:100%;}
    @include for-size(tablet-portrait-up){width:100%;}
    @include for-size(tablet-landscape-up){width: 110%;}
    @include for-size(big-desktop-up){width: 100%;}
  }
}

.renter-cta-illustration{
  flex: 3;
  padding-right: 5%;
  img{
    @include for-size(phone-only){width:100%;}
    @include for-size(tablet-portrait-up){width:100%;}
    @include for-size(tablet-landscape-up){width: 110%;}
    @include for-size(big-desktop-up){width: 100%;}
  }
}

.property-search-illustration{
  flex: 3;
  img{
    @include for-size(phone-only){
      display: none;
    }
    @include for-size(tablet-portrait-up){
      display:none;
    }
    @include for-size(tablet-landscape-up){
      display: block;
      width: 100%;
    }
    @include for-size(big-desktop-up){width: 100%;}
  }
}


.input-row{
  @include for-size(phone-only){
    display: block;
  }

  @include for-size(tablet-portrait-up) {
    display: block;
  }

  @include for-size(tablet-landscape-up){
    display: inline-block;
  }

  input {
    font-size: 16px;
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-sizing: border-box;

    @include for-size(phone-only) {
      width: 300px;
      margin-bottom: 10px;
    }
    @include for-size(tablet-portrait-up) {
      width: 300px;
      margin-bottom: 10px;
    }
    @include for-size(tablet-landscape-up) {
    width: 325px;
    }
  }
}

// Home and Tenant Content Container



.home-content, .tenant-content, .renter-content{

  .home-content-main{
    text-align: center;
    @include for-size(phone-only){padding: 3% 10%;}
    @include for-size(tablet-portrait-up){padding:3% 15%;}
    @include for-size(tablet-landscape-up){padding: 5% 15%}
  }


  .home-content-syndicates{
    h2{margin-top: 2%;}
    padding: 5% 15%;
    text-align: center;
    background:#f3f3f3;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }

  .tenant-content-main {
    text-align: center;
    @include for-size(phone-only){padding: 0% 5%;}
    @include for-size(tablet-portrait-up){padding:0% 15% 3%;}
    @include for-size(tablet-landscape-up){padding: 0% 20% 3%}
  }

  .renter-content-main {
    @include for-size(phone-only){
      text-align: left;
      padding: 0% 5%;
    }
    @include for-size(tablet-portrait-up){
      text-align: center;
      padding:0% 15% 3%;
    }
    @include for-size(tablet-landscape-up){padding: 0% 10% 3%}
  }
}

.content-cta{
  h2{margin-top:0;}
  padding: 10%;
  text-align: center;
  position: relative;

  .flower-left{
    @include for-size(phone-only){
      display:none;
    }
    position: absolute;
    left: 15%;
    top: -4%;
    transform: rotate(180deg);
    width: 200px;
    z-index: -10;
  }

  .flower-right{
    @include for-size(phone-only){
      display: none;
    }
    position: absolute;
    right: 15%;
    bottom: -4%;
    width: 200px;
    z-index: -10;
  }
}

.tenant-content-listing, .tenant-content-showing, .tenant-content-leasing{

  @include for-size(phone-only){
    padding: 5%;
    text-align: left;
    display: grid;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    img{max-width: 300px;}
    h2{margin-top: 1%;}
  }

  @include for-size(tablet-portrait-up){
    padding: 6% 10%;
    text-align: left;
    display: grid;
    grid-template-rows: 1fr 1fr;
    img{max-width: 450px;}
    h2{margin-top: 1%;}
  }

  @include for-size(tablet-landscape-up){
    padding: 4% 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    grid-gap: 5%;
    img{max-width: 650px;}
  }
}

.tenant-content-copy{
  align-self: center;
}

.renter-booking, .renter-dashboard {

  @include for-size(phone-only){
    padding: 2% 0;
    text-align: left;
    display: grid;
    grid-template-rows: 1fr 1fr;
    img{max-width: 300px;}
    h2,h3{margin-top: 1%;}
  }

  @include for-size(tablet-portrait-up){
    padding: 10% 5%;
    text-align: left;
    display: grid;
    grid-template-rows: 1fr 1fr;
    img{max-width: 450px;}
    h2,h3{margin-top: 1%;}
  }

  @include for-size(tablet-landscape-up){
    padding: 12% 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    grid-gap: 5%;
    img{max-width: 650px;}
  }

}

.renter-qualify{
  img {
    @include for-size(phone-only){max-width: 300px;}
    @include for-size(tablet-portrait-up){max-width: 450px;}
    @include for-size(tablet-landscape-up){max-width: 650px;}
  }
}

.renter-bottom-cta{
  display: block;
}

.content-order{
  @include for-size(phone-only){order: 1;}
  @include for-size(tablet-portrait-up){order: 1;}
  @include for-size(tablet-landscape-up){order: 0;}
}

.syn-grid{
  img{
    max-width: 200px;
    filter: grayscale(100%);
  }

  @include for-size(phone-only){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    padding-top: 2%;
    figure{
      justify-self: center;
      align-self: center;
    }
  }

  @include for-size(tablet-portrait-up){
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 2%;
    figure{
      justify-self: center;
      align-self: center;
    }
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: repeat(3, 1fr);
  }
}


// About page styles
.about-container{
  @include for-size(phone-only) {
    padding: 20% 5%;
  }

  @include for-size(tablet-portrait-up){
    padding: 10% 20% 5%;
  }

  @include for-size(tablet-landscape-up){
    padding: 8% 23% 5%;
  }

  .about-container-content {
    /*h1{font-size:2.3em;}*/
    /*p{font-size:1.25em;}*/
    text-align: center;
  }

  .about-container-img{
    padding-top: 2%;
    text-align: center;
    img{
      @include for-size(phone-only){
        max-width: 300px;
      }

      @include for-size(tablet-portrait-up){
        max-width: 500px;
      }

      @include for-size(tablet-landscape-up){
        max-width: 650px;
      }
    }
  }
}

.about-founder{
  padding: 3% 15%;
  text-align: center;
  img{
    border-radius: 50%;
    max-width: 12rem;
    padding: 1rem 0;
  }
}


// New Get Started Content
.gs-main-container{
  @include for-size(phone-only) {
    display: grid;
    grid-template-rows: 1fr;
    margin: 5% 3%;

    .gs-form-section > form > input {
      display: block;
      margin: 20px 0px;
      padding: 20px;
      width: 100%;
      max-width: 635px;
      box-sizing: border-box;
      border: 1px solid #ebebeb;
      border-radius: 4px;
    }

    .gs-form-logo img {
      max-width: 250px;
    }

    .gs-second-section {
      display:none;
    }
  }

  @include for-size(tablet-portrait-up) {
    display: grid;
    grid-template-rows: 1fr;
    margin: 5%; 

    .gs-form-section > form > input {
      display: block;
      margin: 20px 0px;
      padding: 20px;
      width: 100%;
      max-width: 635px;
      box-sizing: border-box;
      font-size: 16px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
    }

    .gs-form-logo img {
      max-width: 250px;
    }

    .gs-second-section {
      display: none;
    }
  }

  @include for-size(tablet-landscape-up) {  
  grid-template-columns: 2fr 2fr;
  margin: 0;
  .gs-form-section {
    margin: 5%;
    p {
      font-size: 20px;
    }
  }

  .gs-second-section{
    height: 100vh;
    display: grid;
    background: #f3f3f3;
    border-left: 1px solid #ebebeb;
    img{
      margin: auto;
      max-width: 650px;
    }
    }
  }
}

.pricing-card-container {
  @include for-size(phone-only){
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 40px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 40px;
    margin: 0 auto;
    padding: 0 3rem 3rem;
  }

  @include for-size(tablet-landscape-up){
    padding: 0 10rem 3rem;
  }
}

.pricing-card {
  background-color: white;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.2);

  hr{
    color: rgba($color: #979797, $alpha: .30);
    margin: 30px 0px 20px 0px;
  }

  h2{margin: 0;}
  h3{margin-top: 25px;}

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul li{
    padding: 10px 0px;
    font-weight: 500;
    font-size: 20px;
  }
}

.pricing-flower-left {
  @include for-size(phone-only){
    position: absolute;
    top: 43%;
    left: 1%;
    z-index: -1;
  }

  @include for-size (tablet-portrait-up){
    position: absolute;
    top: 24%;
    left: 6%;
    z-index: -1;
  }
}

.pricing-flower-right {
  @include for-size(phone-only){
    position: absolute;
    top: 80%;
    left: 1%;
    z-index: -1;
  }

  @include for-size(tablet-portrait-up){
    position: absolute;
    top: 80%;
    right: 3%;
    z-index: -1;
  }
}

// New Footer Styles

.new-footer{
  background-color: $darkblude;
  a{
    color: white; 
    &:hover {
      opacity: .9;
    }
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.footer_top {
  padding: 50px 50px 25px;
  margin: 0 auto;
  text-align: center;
  img {
    max-width: 75px;
  }
}

.footer_icons {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  padding: 25px 0px;  

  a {
    padding-right: 45px;
  }
}

.footer_bottom{
  @include for-size(phone-only){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin: 0 auto;
    color: white;
    padding: 1rem 3rem;
  }

  @include for-size(tablet-portrait-up) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    margin: 0 auto;
    color: white;
    padding: 1rem 3rem;
  }

  @include for-size(tablet-landscape-up){
    padding: 25px 10rem;
  }
  li {
    font-size: 14px; 
  }
}

.footer-header{
  font-size: 16px;
  font-weight: 700;
  color: white;
  
  p{
    margin: 0;
    font-size: 14px;
  }
}

.footer_location_grid{
  @include for-size(phone-only){
    display: grid;
    grid-template-rows: auto;
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
  }

  @include for-size(tablet-landscape-up){
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 8px;
  }
}

.footer_copyright{
  font-size: 10px; 
  text-align: center; 
  color: white; 
  padding-bottom: 10px;
}