<header class="header">
    <a href="/old/old-home" class="logo"><img alt="Ziprent Logo" src="/images/logos/logo.png"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="/old/old-home">Tenant Placement</a></li>
        <li><a href="/old/about">About</a></li>
        <li><a href="/">Login</a></li>
        <li><a href="tel:1-408-555-5555"><i class="fa fa-phone" style="padding-right:5px;" aria-hidden="true"></i>(555).555.55555</a></li>
        <div class="nav-cta-button">
             <button class="gr-btn"><%= link_to 'Get Started', '/get-started' %></button>
        </div>
        <li><a href="/">Login</a></li>
    </ul>
</header>