---
title: Ziprent
description: At Ziprent we leverage automation with 24/7 world class customer service, to fill your property with the best possible tenant in record time.
layout: old-site
---
<%= partial 'partials/homepage/hero' %>

<section class="intro">
  <h1>Efficiency through automation</h1>
  <p>At Ziprent we leverage automation with 24/7 world class customer service, to fill your property with the best possible tenant in record time. </p>
</section>

<%= partial 'partials/homepage/homepage-container' %>

<section class="bottom-cta">
  <h2>You're in good company</h2>
  <p>We integrate with several listing sites in order to reach the most potential tenants.</p>
  <img alt="Our Partners Logos" src="/images/logos/partners.png">
  <button class="blue-btn"><%= link_to 'Learn More', 'old/about' %></button>
</section>