---
Title: Get Started
layout: old-site
---

<section class="get-started-container">
    <div>
        <h1>Get Started</h1>
        <p>We want to work with you. Fill out the form below and gain access to your personalized control panel. Your listing will be online in 24 hours or less!</p>
    </div>
</section>

<section class="get-started-content">
    <div>
        <form>
            <input placeholder="Name">
            <input placeholder="Email">
            <input placeholder="Phone">
            <input placeholder="Address">
            <input placeholder="$ Target Rent">
            <input type="submit" value="Let's Go">
        </form>
    </div>
    
    <div>
        <p>Dynamic Zillow data</p>
        <p>Rentimeter</p>
    </div>
</section>