<div class="content-cta">
    <h2>What are you waiting for?</h2>
    <div class="input-row">
        <input placeholder="Enter your address">
        <button class="btn btn-primary">Get Started</button>
    </div>
    <img class="flower-left img-reveal" src="/images/illustrations/flower.svg">
    <img class="flower-right img-reveal" src="/images/illustrations/flower.svg">
</div>