---
layout: new-site
Title: Case Studies | Ziprent
Description: See how our software has benefited our clients in a postive and impactful manner. 
---
<div class="heroContainer">
    <div class="heroContainer_left">
        <h1>Customer Love</h2>
    </div>
    <div class="heroContainer_right">
        <img class="img-reveal" src="/images/illustrations/community.svg">
    </div>
</div>

<div class="contentContainer">
        <%= lorem.paragraphs 2 %>
        <br>
        <%= lorem.paragraphs 2 %>
        <br>
        <%= lorem.paragraphs 2 %>
        <br>
        <%= lorem.paragraphs 2 %>
</div> 

