---
layout: get-started-layout
Title: Get started with finding the perfect tenant | Ziprent
Description: Our platform provides property monetization, maintenance, and utilization at the lowest cost possible.
---

<div class="gs-main-container">
    <div class="gs-form-section">
        <div class="gs-form-logo">
            <a href="/new/home">
                <img src="/images/logos/logo.png">
            </a>
        </div>
        <h1>Let's find you a tenant!</h1>
        <p>Fill out the form below and gain access to your personalized control panel. Your listing will be online in 24 hours or less!</p>
        <form>
            <input placeholder="Name">
            <input placeholder="Email">
            <input placeholder="Phone">
            <input placeholder="Address">
            <input placeholder="$ Target Rent">
            <input type="submit" value="Let's Go">
        </form>
    </div>

    <div class="gs-second-section">
       <img class="img-reveal" src="/images/illustrations/people-search.svg">
    </div>
</div>
