---
layout: new-site
Title: On Demand Tenant Placement | Ziprent
Description: We've combined our localized experience in tenant placement and proprietary software to help find the best qualified tenants.
---

<!--CTA Container -->
<div class="home-cta-container">
    <div class="home-cta-form">
        <h1>Find the perfect tenant for your property</h1>
        <h1>$500</h1>
        <h2>30 day placement guarantee*</h2>
        <div class="input-row">
            <input placeholder="Enter Your Address">
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
    <div class="home-cta-illustration img-reveal">
        <img src="/images/illustrations/day-scene-two.svg">
    </div>
</div>

<!--Home Content Contaier -->

<div class="home-content">
    <div class="home-content-main">
        <h2>Efficiency Through Automation</h2>
        <p>Finding a quality tenant in the can be difficult. We've combined our localized experience in tenant placement and state-of-the art proprietary software to help find the best qualified tenants in record time, all while saving you money. Ziprent gives you the upper hand in finding the perfect tenant!</p>
        <button class="btn btn-primary"><a href="/new/get-started-new">See How</a></button></a>
    </div>
    <div class="home-content-syndicates">
        <h2>You're in good company</h2>
        <p>We integrate with the largest number of listing sites to find the most qualified tenant in the shortest amount of time!</p>
        <button class="btn btn-secondary"><a href="/new/tenant-placement">Learn More</a></button>
        <div class="syn-grid">
            <figure><img src="/images/logos/zillow.png"></figure>
            <figure><img src="/images/logos/Trulia.png"></figure>
            <figure><img src="/images/logos/hotpads.png"></figure>
            <figure><img src="/images/logos/apartments.png"></figure>
            <figure><img src="/images/logos/rentals.png"></figure>
            <figure><img src="/images/logos/craigslist.png"></figure>
        </div> 
    </div>
    <div class="home-content-cta">
        <h2>What are you waiting for?</h2>
        <div class="input-row">
            <input placeholder="Enter your address">
            <button class="btn btn-primary">Get Started</button>
        </div>
        <img class="flower-left img-reveal" src="/images/illustrations/flower.svg">
        <img class="flower-right img-reveal" src="/images/illustrations/flower.svg">
    </div>
</div>
