---
layout: new-site
Title: Pricing | Ziprent
Description: See how little our tenant placement service costs compared to our competitors. 
---

<div class=about-container>
    <div class="about-container-content">
        <h1>Pricing made simple</h1>
        <p>At Ziprent, we aim to provide flexible pricing whether it be for tenant placement or full on property management. We strive to make managing your property as efficient and cost effective as possible.</p>
    </div>
</div>

<img class="pricing-flower-left img-reveal" src="/images/illustrations/multi-flower.svg">
<img class="pricing-flower-right img-reveal" src="/images/illustrations/red-flower.svg">

<div class="pricing-card-container">
    <div class="pricing-card">
        <h2>Tenant Placement</h2>
        <h3>$100 Deposit</h3>
        <p>$599 Due at lease signing and security deposit reciept.</p>
        <p><strong>Fully refundable</strong> if we don’t find your tenant within 30 days*</p>
        <button class="btn btn-primary">Get Started</button>
        <hr>
        <ul>
            <li>Professional Photos</li>
            <li>Property Listing</li>
            <li>Property Concierge</li>
            <li>On-Demand Showing</li>
            <li>Tenant Screening</li>
            <li>Automated Lease Generation</li>
            <li>Automated Online Rental Payment</li>
        </ul>
    </div> 
    <div class="pricing-card">
        <h2>Property Placement</h2>
        <h3>$95 per month</h3>
        <p>Per property. Regardless of how much you collect in rent.</p>
        <p>$299 for tenant placement. Not applicable if property is already occupied.</p>
        <button class="btn btn-secondary-solid">Coming Soon!</button>
        <hr>
        <ul>
            <li>Professional Photos</li>
            <li>Property Listing</li>
            <li>Property Concierge</li>
            <li>On-Demand Showing</li>
            <li>Tenant Screening</li>
            <li>Automated Lease Generation</li>
            <li>Automated Online Rental Payment</li>
            <li>Rental Maintenance</li>
            <li>Rent Guarantee**</li>
        </ul>
    </div>
</div>


