---
layout: new-site
Title: Property Demo | Ziprent
---
<!-- Slick SLider-->
<div class="property-img-wrapper">
    <div>
        <img src="/images/demo/demo1.jpg">
    </div>
    <div>
        <img src="/images/demo/demo2.jpg">
    </div>
    <div>
        <img src="/images/demo/demo3.jpg">
    </div>
    <div>
        <img src="/images/demo/demo4.jpg">
    </div>
</div>

<div class="property-grid-container">
    <!-- Property Adress-->
    <div class="grid-address">
        <div class="property-type">
            <i class="fas fa-home"></i>
            <p>House</p>
        </div>
        <div class="address-container">
            <div class="address-title">
                <h1>1135 Yarwood Ct</h1>
                <h2>San Jose, CA 95128</h2>
            </div>
            <div class="address-price">
                <h1>$3,100</h1>
            </div>
        </div>
    </div>

    <!-- Property Form Card-->
    <div class="grid-form">
        <div class="property-card">
            <h3>Schedule a Showing</h3>
            <p>With Ziprent, you can view the property on your own time!</p>
            <form>
                <div class="form-row">
                    <input placeholder="Select a date">
                    <input placeholder="select a time">
                </div>
                <div class="form-row">
                    <input placeholder="Full name">
                    <input placeholder="phone number"> 
                </div>
                <input placeholder="Email">
                <div class="property-checkbox">
                    <input type="checkbox">
                    <label>I agree to receive a text with instructions on how to view the property.</label>
                </div>
                <div class="form-button">
                    <button class="property-primary">Request a visit</button>
                    <p class="property-divide">Or</p>
                    <button class="property-secondary">Submit an application</button>
                </div>
            </form>
        </div>
    </div> 

    <!-- Property Details-->
    <div class="grid-details">
        <div class="section">
            <p>Enjoy this Spacious Luxury Condo in the heart of San Jose. Recently had a full renovation with granite kitchen counter tops and stainless steel appliances. Double-paned windows for sound proofing. Easy access to both 280 and 880 freeways with less than 15 min to Westfield Valley Fair/Santa Row, San Jose International Airport, and Downtown San Jose. Also within 15 min to San Jose Diridon Caltrain station (soon to be connected with Bart). Available for immediate rental. The house does not come furnished and an application must be submitted prior to move-in. </p>
        </div>

        <div class="section">
            <h4>Details</h4>
            <div class="property-details">
                <div>
                    <label>Type:</label>
                    <p>House</p>
                </div>
                <div>
                    <label>Bedrooms:</label>
                    <p>3BR</p>
                </div>
                <div>
                    <label>Bathrooms:</label>
                    <p>2.5BA</p>
                </div>
                <div>
                    <label>Size:</label>
                    <p>2100 sqft.</p>
                </div>
                <div>
                    <label>Laundry:</label>
                    <p>On site</p>
                </div>
                <div>
                    <label>Parking:</label>
                    <p>2 car garage</p>
                </div>
                <div>
                    <label>Pets:</label>
                    <p>Yes</p>
                </div>
                <div>
                    <label>Lease Term:</label>
                    <p>1 year</p>
                </div>
            </div>
        </div>

        <div class="section">
            <h4>Location</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12595.433744745636!2d-122.47246258022462!3d37.8869932!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1540688997296" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div> 
</div>

