---
layout: new-site
Title: Property Demo | Ziprent
---
<!-- Slick SLider-->
<div class="property-img-wrapper">
    <div>
        <img src="/images/new/sf-dusk.jpg">
    </div>
    <div>
        <img src="/images/new/sf-dusk.jpg">
    </div>
    <div>
        <img src="/images/new/sf-dusk.jpg">
    </div>
</div>

<div class="property-info-container">
    <div class="property-info">
        <!-- Property Address-->
        <div class="section address-container">
            <div class="address-title">
                <h1>1135 Yarwood Ct</h1>
                <h2>San Jose, CA 95128</h2>
            </div>
            <div class="address-price">
                <h2>$3,100</h2>
            </div>
        </div>
        <!-- Property Overview -->
        <div class="section">
            <p>Enjoy this Spacious Luxury Condo in the heart of San Jose. Recently had a full renovation with granite kitchen counter tops and stainless steel appliances. Double-paned windows for sound proofing. Easy access to both 280 and 880 freeways with less than 15 min to Westfield Valley Fair/Santa Row, San Jose International Airport, and Downtown San Jose. Also within 15 min to San Jose Diridon Caltrain station (soon to be connected with Bart). Available for immediate rental. The house does not come furnished and an application must be submitted prior to move-in. </p>
        </div>
        <!-- Property Detail Section-->
        <div class="section">
            <h4>Details</h4>
            <div class="property-details">
                <div>
                    <label>Type:</label>
                    <p>House</p>
                </div>
                <div>
                    <label>Bedrooms:</label>
                    <p>3BR</p>
                </div>
                <div>
                    <label>Bathrooms:</label>
                    <p>2.5BA</p>
                </div>
                <div>
                    <label>Size:</label>
                    <p>2100 sqft.</p>
                </div>
                <div>
                    <label>Laundry:</label>
                    <p>On site</p>
                </div>
                <div>
                    <label>Parking:</label>
                    <p>2 car garage</p>
                </div>
                <div>
                    <label>Pets:</label>
                    <p>Yes</p>
                </div>
                <div>
                    <label>Lease Term:</label>
                    <p>1 year</p>
                </div>
            </div>
        </div>
        <!-- Property Location: Map-->
        <div class="section">
            <h4>Location</h4>
            <p>map goes here</p>
        </div>

    </div>
    <div class="property-form">
        <div class="property-form-card">
            <h3>Schedule a Showing</h3>
            <p>With Ziprent, you can view the property on your own time!</p>
        </div>
    </div>
</div>