---
layout: new-site
Title: Renting made easy | Ziprent
Description: Ziprent makes renting easy
---

<!-- Renter CTA Container -->
<div class="renter-cta-container">
    <div class="renter-cta">
        <h1>We make renting easy</h1>
        <button class="btn btn-primary">Browse Properties</button>
    </div>
    <div class="renter-cta-illustration">
        <img class="img-reveal" src="/images/illustrations/renter.svg">
    </div>
</div>

<!-- Renter Content Container -->

<div class="renter-content">
    <div class="renter-content-main">
        <h2>Rent with Confidence</h2>
        <p>At Ziprent, we strive to make the rental process as simple as possible. This can often be stress endeavor and we've set out to make it as simple as possible. Everything from on-demand property showings to automatic lease generations are here to make this easy and  </p>
        <p>At Ziprent, we know how stressful the rental process can be. </p>

        <div class="renter-booking">
            <div>
                <h3>Book a showing on your time</h3>
                <p>Nothing is more frustrating than trying to schedule a time to view a potential property. With Ziprent, you are able to book a showing, on demand. You pick the time and date, and we generate a unique lockbox code for you to view the property.</p>
            </div>

            <div>
                <img class="img-reveal" src="/images/illustrations/tenant-dash-desktop.svg">
            </div>
        </div>

        <div class="renter-qualify">
            <h3>Apply, qualify, and sign</h3>
            <p>Once you find a home, fill out our free online application. If you are the first qualified applicant, we will immediately send you a digital lease. After you sign it, you'll be that much closer to moving in!</p>
            <img class="img-reveal" src="/images/illustrations/relaxing-at-home.svg">
        </div>

        <div class="renter-dashboard">
            <div>
                <img class="img-reveal" src="/images/illustrations/tenant-dash-desktop.svg">
            </div>

            <div>
                <h3>Access at your finger tips</h3>
                <p>Everything from paying rent to submitting maitenance requests are only a few quicks away on your tenant dashboard.</p>
                <p> Renting made easy.</p>
            </div>
        </div>

        <!-- Bottom CTA Container: Browsing Listings-->
        <div class="renter-bottom-cta"> 
            <h3>Find your perfect property</h3>
            <button class="btn btn-secondary">Browse Properties</button>
        </div>
    </div> 
</div> 