---
layout: lp-layout
Title: Finding the perfect tenant for your East Bay property | Ziprent
Description: Our local agents utilize our proprietary state-of-the-art software to bring you the best in Berkeley tenant placement
---

<div class="logo">
        <img src="/images/logos/logo.png">
    </div>
    
<div class="home-cta-container">
    <div class="home-cta-form center-text">
        <h1>Find the perfect tenant for all your Berkeley properties</h1>
        <h2>$500 bucks. 30 day placement guarantee*</h2>
        <div class="input-row">
            <input placeholder="Enter your address">
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
    <div class="home-cta-illustration img-reveal">
        <img class="shorten-img" src="/images/illustrations/young-dude.svg">
    </div>
</div>



<!-- First CTA Section: 1 Col - Berkeley -->
<div class="one-col">
    <h2>Efficency Through Automation</h2>
    <p>Navigation of Berkeley's rent control laws is not easy. Our local agents utilize our proprietary state-of-the-art software to bring you the best in Berkeley Tenant Placement. For one low cost, our Berkeley tenant placement service includes professional photography, on-demand showings, and seamless, automated background checks.</p>
    <p>Try us out <strong>risk free</strong> and see why we are the <strong>best tenant placement</strong> service in Berkeley!</p>
</div>



