<footer>
    <img alt="Ziprent Footer Logo" src="/images/logos/logo-white.png">
    <p>2018 All rights reserved | <a href="mailto:start@ziprent.com">start@ziprent.com</a> | <a href="tel:15555555555">+1(555) 555.5555</a> </p>
    <div class="icons">
        <!-- Facebook -->
        <a href="https://www.facebook.com/ziprent" target="_blank">
            <i class="fab fa-facebook-f fa-lg"></i>
        </a>
        <!-- Mail -->
        <a href="mailto:admin@ziprent.com?Subject=Hello!" target="_blank">
            <i class="fas fa-envelope fa-lg"></i>
        </a>
        <!-- Twitter -->
        <a href="https://www.twitter.com/zip_rent" target="_blank">
            <i class="fab fa-twitter fa-lg"></i>
        </a>
    </div>
</footer>