<footer>
    <div class="footer-row">
        <div class="footer-logo">
             <img alt="Ziprent Footer Logo" src="/images/logos/logo-white.png">
        </div>
        <div class="footer-text">
             <p>2018 All rights reserved.</p> 
        </div>
    </div>
</footer>